.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid #000;
    padding: 20px;
    width: 200px;
    background-color: lightgreen;
}
.position {
    min-height: 50px;
    width: 100px;
    border: 1px dashed #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.player {
    cursor: grab;
    background-color: lightblue;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
    width: 80px;
}